* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif, 'Noto Sans TC', sans-serif;
    font-size: 100%;
    scroll-behavior: smooth;   
}
image{
    vertical-align: top;
}
.item-list{
    width: 960px;
    margin: auto;
}
.item .title{
    width: 320px;
    color: #fff;
    position: relative;
    z-index: 2;
}
.item .title h2{
    background: #f00;
    font-size: 52px;

}
.item .title h2 span{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    white-space: nowrap;
}
.item .title .title-information{
    background-color: #000;   
    padding: 10px;
    position: absolute;

}
.item .image{
    width: 740px;
    margin-left: 210px;
    position: relative;

}
.item .image::after{
    content: '';
    position: absolute;
    width: 300px;
    height: 200px;
    background-color: #eee;
    top: 0;
    right: 0;
    transform: translate(10%, -20%);
}
.item.image a{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}
.item .image .pic{
    width: 720px;
    margin-right: -60px;

}
.item .image .pic img{
    width: 100%;

}
.item .image .btn{
    width: 80px;

}
.item .image .btn .img{
    width: 100%;
} 

.item .text{
    background-color: #eee;
    width: 620px;
    padding: 10px;
    position: relative;
    z-index: 2;
    margin-top: -1em;
    margin-left: 100px;
}
.item .text .slogan{
    font-size: 22px;
    color: #f00;
    display: flex;
    align-items: center;
}
.item .C .slogan:after{
    content: '';
    width: 10px;
    height: 1px;
    background-color: #f00;
    flex-grow: 1;
    margin-left: 0.5em;
}